.about-con-1 {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  justify-content: space-between;
  margin-top: 18rem;
  margin-left: 6rem;
}

.about-lhs-1 {
  display: flex;
  flex-direction: column;
}

.about-rhs-2 {
  display: flex;
  flex-direction: column;
}

.about-lhs-1-div {
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 251px;
  height: 388px;
  margin-top: -18rem;
  margin-left: 11rem;
}

.about-rhs-2-div {
  background: #ffffff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  width: 291px;
  height: 388px;
  margin-top: -18rem;
  margin-left: 4rem;
}

.about-rhs-2-div img {
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.about-lhs-1-div img {
  margin-top: 2.5rem;
  margin-left: 2rem;
}

.about-rhs-1 {
  margin-top: 5rem;
}

.about-rhs-1 h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000;
}

.about-rhs-1 ul {
  gap: 2rem;
  margin-top: 4rem;
}

.about-rhs-1 ul li {
  font-size: 20px;
  color: #000;
  margin-top: 1rem;
}

.about-rhs-1 button {
  background: #0a2640;
  border: 2px solid #0a2640;
  border-radius: 56px;
  gap: 8px;
  padding: 16px 56px;
  margin-top: 5rem;
  color: #fff;
}

.about-con-2 {
  display: flex;
  flex-direction: row;
  gap: 15rem;
  justify-content: space-between;
  margin-top: 18rem;
  margin-left: 6rem;
}

.about-lhs-2 {
  margin-top: 8rem;
}

.about-lhs-2 h2 {
  font-weight: 400;
  font-size: 36px;
  line-height: 56px;
  color: #000;
}

.about-con-2-blocks {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
  cursor: pointer;
}

.about-con-2-block-1 {
  background: #0a2640;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px 27px;
}

.about-con-2-block-2 {
  background: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px 27px;
  color: #0a2640;
}

.about-con-2-block-3 {
  background: #fff;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  padding: 16px 27px;
  color: #0a2640;
}

@media screen and (max-width: 1024px) {
  #About {
    max-width: 100vw;
  }
  .about-container {
    margin-top: -11rem;
    margin-left: -6rem;
    width: 100vw;
  }
  .about-con-1 {
    flex-direction: column;
    gap: 0;
  }
  .about-lhs-1-div,
  .about-rhs-2-div {
    display: none;
  }
  .about-rhs-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-rhs-1 h2 {
    text-align: center;
  }
  .about-rhs-1 ul {
    margin-top: 2rem;
  }
  .about-rhs-1 button {
    margin-top: 3rem;
  }
  .about-con-2 {
    flex-direction: column-reverse;
    margin-top: 4rem;
  }
  .about-lhs-2 {
    margin-top: -10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .about-lhs-2 h2 {
    text-align: center;
  }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  #About {
    max-width: 100vw;
  }
  .about-container {
    width: 100vw;
    margin-left: -4rem;
  }
}
