.testimonials {
  background: #0a2640;
  margin-top: 8rem;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

.testimonial-heading {
  display: grid;
  grid-template-columns: 75% 10%;
  width: 100%;
  gap: 10%;
  margin-top: 8rem;
}

.testimonial-heading h2 {
  font-weight: 400;
  font-size: 48px;
  line-height: 72px;
}

#arrow-icon {
  width: 36px;
  height: 39px;
}

.arrows {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 8rem;
}

.arrow1 {
  background: #fff;
  width: 72px;
  height: 72px;
  color: #0a2640;
  border-radius: 100%;
  padding: 17px 18px;
  cursor: pointer;
}

.comments-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.5rem;
  padding-bottom: 6rem;
}

.testimonial-item {
  padding: 40px;
  gap: 40px;
  background: #fff;
  box-shadow: 0 12px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
}

.testimonial-item p {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #000000;
}

.profile-item {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

.profile-item img {
  width: 58px;
  height: 58px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.profile-details h5 {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  line-height: 32px;
  color: #0a2640;
}

.profile-details span {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 32px;
  color: #0a2640;
}

@media screen and (max-width: 1024px) {
  .testimonials {
    width: 100vw;
  }
  .testimonial-heading {
    grid-template-columns: 1fr;
    margin-top: 3rem;
    gap: 0;
  }
  .comments-section {
    grid-template-columns: 1fr 1fr;
  }
  .profile-item {
    gap: 1rem;
  }
  .profile-details {
    margin-top: -0.5rem;
  }
}

/* Media Queries (Small Devices) */
@media screen and (max-width: 600px) {
  .testimonials-container {
    width: 40vw;
  }
  .testimonial-heading {
    width: 100vw;
  }
  .testimonial-item {
    width: 90vw;
  }
  .arrows {
    width: 90vw;
  }
  .comments-section {
    grid-template-columns: 1fr;
  }
}
